{% include 'menu.html' %}

{% if gender == 'F' %}
    {% set genderType = "여성" %}
{% else %}
    {% set genderType = "남성" %}
{% endif %}
<!-- S: page-wrapper -->
<div id="page-wrapper">
    <!-- S: container-fluid -->
    <div class="container-fluid">
        <div class="alert alert-info">
            <p><i class="fa fa-fw fa-info-circle text-info" title=""></i> {{ genderType }}별 공유히트가 높은 링크로, 성별+연령별 어떤 링크가 계속 공유되고 있는지 흐름을 확인할수 있습니다. </p>
            <p>
                <i class="fa fa-fw fa-info-circle text-info"></i> 성별꾸준하게 일별 공유가 계속 되고 있는 컨텐츠를 <span class="text-danger">공유히트가 높은 컨텐츠</span>로 표기했습니다.
            </p>
            <p>
                 <i class="fa fa-fw fa-info-circle text-info" title=""></i> age_band는 <a href="https://kakao.agit.in/g/300000528/wall/302003018#comment_panel_302758173">해당 아지트를 참고</a>했습니다.
            </p>
            <p>
                <i class="fa fa-fw fa-info-circle text-info" title=""></i> <a href="/age_band/{{gender}}#young">10대중후반 / 20대초반 / 20대후반 바로가기</a>
            </p>
            <p>
                <i class="fa fa-fw fa-info-circle text-info" title=""></i> <a href="/age_band/{{gender}}#old">30대중후분 / 40대중후반 / 50대중후반 바로가기</a>
            </p>
            <p>
                <i class="fa fa-fw fa-info-circle text-info" title=""></i> <a href="/h_age_band/{{gender}}">{{ genderType }} 연령대별 공유하는 시간때는 어떻게 될까? 바로가기 </a>
            </p>
        </div>
    </div>
    <!-- E: container-fluid -->

    <hr />
    <!--<div class="col-lg-12">-->
    <div class="fluid-row" id="young">
     <div class="panel panel-default">
        <div class="panel-heading" style="background-color:#f9f9f9">
            <h3 class="panel-title"><i class="fa fa-money fa-fw" title=""></i> 10대중후반 / 20대초반 / 20대후반 에 속하는 {{ genderType }}의 공유히트가 높은 컨텐츠 목록</h3>
        </div>

         <!-- S : age_band -->
         <div class="row" >
             <!-- S : for loop age -->
             {% for rank in hit_rank_1 %}
             <div class="col-lg-4">
                 <div class="table-responsive"> <!-- S : responsive-->
                     <table class="table table-hover table-striped table-bordered">
                         <thead>
                         <tr>
                             <th></th>
                             <th><span class="text-info">{{ month }}월 1일 ~ {{ day }}일</span> 공유히트가 높은 링크이고,</th>
                             <th>공유가 된 <span class="text-info">일자</span>와 <span class="text-info">(공유수)</span> 입니다.</th>
                         </tr>
                         </thead>
                         <tbody>
                         {% for url , hit in rank %}
                         <tr>
                             <td>{{ loop.index }}</td>
                             <td style="max-width:150px;">
                                 <div style="word-wrap: break-word;">
                                     <a href="{{ url }}" target="_blank">{{ url }}</a>
                                 </div>
                             </td>
                             <td style="max-width:70px;">
                                 <div style="word-wrap: break-word;">
                                     <div class="sparkline_hit_chart"></div>
                                     <button class="btn btn-info btn-xs sparkline_hit">공유추이보기</button>

                                    <span class="hit_group">
                                    {% for day in hit %}
                                       <p>{{ day[0] }}  (<span class="hit_cnt">{{ day[1] }}</span>)</p>
                                    {% endfor %}
                                    </span>
                                 </div>
                             </td>
                         </tr>
                         {% endfor %}
                         </tbody>
                     </table>
                 </div> <!-- E: table-responsive-->
             </div>
             <!-- E : for loop age -->
             {% endfor %}
         </div>
         <!-- E : age_band -->
     </div>
     </div>

         <!--<div class="col-lg-12">-->
    <div class="fluid-row" id="old">
     <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-money fa-fw" title=""></i> 30 ~ 60대 후반에 속하는 {{ genderType }}의 공유히트가 높은 컨텐츠 목록</h3>
        </div>
        <!-- S : age_band -->
         <div class="row">
             <!-- S : for loop age -->
             {% for rank in hit_rank_2 %}
             <div class="col-lg-4">
                 <div class="table-responsive"> <!-- S : responsive-->
                     <table class="table table-hover table-striped table-bordered">
                         <thead>
                         <tr>
                             <th></th>
                             <th><span class="text-info">{{ month }}월 1일 ~ {{ day }}일</span> 공유히트가 높은 링크이고,</th>
                             <th>공유가 된 <span class="text-info">일자</span>와 <span class="text-info">(공유수)</span> 입니다.</th>
                         </tr>
                         </thead>
                         <tbody>
                         {% for url , hit in rank %}
                         <tr>
                             <td>{{ loop.index }}</td>
                             <td style="max-width:150px;">
                                 <div style="word-wrap: break-word;">
                                     <a href="{{ url }}" target="_blank">{{ url }}</a>
                                 </div>
                             </td>
                             <td style="max-width:70px;">
                                 <div style="word-wrap: break-word;">
                                     <div class="sparkline_hit_chart"></div>
                                     <button class="btn btn-info btn-xs sparkline_hit">공유추이보기</button>

                                    <span class="hit_group">
                                    {% for day in hit %}
                                       <p>{{ day[0] }}  (<span class="hit_cnt">{{ day[1] }}</span>)</p>
                                    {% endfor %}
                                    </span>
                                 </div>
                             </td>
                         </tr>
                         {% endfor %}
                         </tbody>
                     </table>
                 </div> <!-- E: table-responsive-->
             </div>
             <!-- E : for loop age -->
             {% endfor %}
        </div>
         <!-- E : age_band -->

     </div>
    </div>
</div>


    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/jquery.sparkline.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <!--<script src="../static/js/bootstrap.min.js"></script>-->

<script>
    $(".sparkline_hit").click(function(e){
        var that = $(this);

        var values = that.next(".hit_group").find(".hit_cnt").map(function() {
            return $(this).text();
        }).get();

        console.log(values);
        that.prev(".sparkline_hit_chart").sparkline(values,
            {
	    		type: 'line',
	    		width: '100%',
	    		height: '25',
                disableTooltips:{},
        });

    });


    $(".api_2shot").click(function(e){
        var that = $(this);
        var shared_url = that.attr("data-id");
        //var paramObj = {url: encodeURIComponent(shared_url) };
        var paramObj = {url: shared_url, delay: 1 };
        var params = $.param( paramObj );

    $.ajax({
            type:"get",
            url: "http://2shot.daumtools.com/c",
            data:params,
            dataType: 'jsonp',
            success:function(data){
               console.log(data);

               if( data['status'] != "complete"){
                var appendHtml= "<p class='text-info'>2SHOT 처리결과가 "+data['status']+"입니다. 다시 한번 눌러주세요</p>";
                that.after(appendHtml);
               }else{
                var appendHtml= "<a title='이미지클릭 원본보기' href='"+ data['screenshot_jpg'] +"' target='_blank'><img src='"+data['screenshot_jpg']+"' width='400px' height='500px;' /></a>";
                that.after(appendHtml);
               }

            },
            error:function(e){
                alert("ERROR!!\n 2shot api가 정상동작 안하나봅니다.. http://2shot.daumtools.com/ ");
            }
        });
    });


</script>



